.container{
    background-color: rgb(36, 68, 138);
    padding: 20px;
    display: flex;
    gap: 20px;
    /*GAP é o posicionamento entre os 
    itens da felxbox*/
    /*justify-content: center;*/
    /*Alinhando itens no centro horizontal*/
    height: 200px;
}

.card{
    background-color: rgb(92, 220, 255);
    color: black;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin: 5px;
}

.row-center{
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.colum-left{
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.row-end{
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
}

/*align-itmes coloca em baixo na pagina ou no top 
e o justifi se é no centro e etc*/

.linha-espacada{
     flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.wrap{
    flex-direction: row;
    /*Ativa a quebra de linha */
    flex-wrap: wrap;
    align-items: c;
}